# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage files
*.test
*.out

# Собранные бинарники
/cmd/agent/agent
/cmd/server/server

# Dependencies
# /vendor/

# Runtime data
**/metrics-db.json
*.log

# IDEs
/.idea/
/.vscode/

# macOS
**/.DS_Store
__MACOSX/

# Temporary files
/sandbox/
/tools/

# RSA-ключи для запуска Агента/Сервера
/.keys/

# JSON-конфиги Агента и Сервера (example-конфиги тут не нужны)
/configs/

# Git
/.git/
/.github/
/.gitignore
