# параметры локального PostgreSQL-контейнера
POSTGRES_USER=metrics
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=metricsdb

# адреса Сервера для запуска через флаги и переменные окружения
SERVER_ADDRESS_DEFAULT=localhost:8080
SERVER_ADDRESS_ENV=localhost:8088

# параметры локального запуска Сервера и Агента
RATE_LIMIT=3
SECRET_KEY=god
#TRUSTED_SUBNET=192.168.1.0/24
TRUSTED_SUBNET=
AUDIT_FILE=audit.log
